#painelUsuarios thead th:first-child {
  width: 20em;
}
#painelAreas thead th:first-child {
  width: 10em;
}
#painelAreas thead th:last-child {
  width: 7em;
}
#painelCursos thead th:first-child {
  width: 30em;
}

#tabela tbody td:last-child {
  width: 7em;
  min-width: 7em;
  text-align: center;
}

@media (max-width: 768px) {
  #tabela thead th:not(:first-child):not(:last-child),
  #tabela tbody td:not(:first-child):not(:last-child) {
    display: none;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.clicavel .simbolo {
  cursor: pointer;
}

#sfs1 {
  display: flex;
  flex-direction: row;
}

.linhaLista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linhaLista > span {
  flex: 1;
}

.linhaLista > div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.linhaLista label:not(:last-child) {
  margin-right: 2em;
}

#tabelaCursosUsuario th:not(:first-child) {
  width: 4em;
}

.tabelaComRolagem {
  overflow-y: auto;
  height: 15em;
}
