#tabela thead th:first-child {
  width: 5em;
}
#tabela thead th:nth-child(2) {
  width: 40em;
}
#tabela thead th:nth-child(3) {
  width: 10em;
}
#tabela thead th:last-child {
  width: 7em;
  min-width: 7em;
  text-align: center;
}

@media (max-width: 768px) {
  #tabela thead th:nth-child(3),
  #tabela tbody td:nth-child(3) {
    display: none;
  }
}

#tabela td {
  vertical-align: top;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer button {
  margin-left: 1em;
}
