@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Modern+Antiqua&display=swap");

body > header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

@media (min-width: 1024px) {
  body > header {
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(0.1rem);
    transition: border-top-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  }
}

body > header > * {
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  margin-bottom: 1ex;
}

h1 {
  font-family: "Gideon Roman", serif;
  font-size: 2.5em;
  text-align: center;
}

h4 {
  margin-top: 0.5em;
}

@media (min-width: 1024px) {
  main.has-side-menu {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 10rem 1fr;
    grid-template-areas:
      "menu header"
      "menu body";
  }
}

main > header {
  grid-area: header;
}

main > section {
  grid-area: body;
}

#sideMenu {
  grid-area: menu;
  margin-right: 1.5em;
  padding: 1em 1em;
}

@media (min-width: 1024px) {
  #sideMenu {
    align-self: flex-start;
    position: sticky;
    top: 156px;
    padding: 0;
    font-size: 0.85em;
  }
}

.simbolo img {
  padding-bottom: 2px;
  width: 1.2em;
}
