@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Modern+Antiqua&display=swap");

body > header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

@media (min-width: 1024px) {
  body > header {
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(0.1rem);
    transition: border-top-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  }
}

body > header > * {
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  margin-bottom: 1ex;
}

h1 {
  font-family: "Gideon Roman", serif;
  font-size: 2.5em;
  text-align: center;
}

h4 {
  margin-top: 0.5em;
}

#menuToggle {
  display: none;
}

main.has-side-menu {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 45px 1fr;
  grid-template-areas:
    "menu header"
    "menu body";
}

main.has-side-menu #menuToggle {
  position: sticky;
  top: 0;
  display: block;
  cursor: pointer;
}

main.has-side-menu #menuToggle img {
  width: 30px;
}

main.has-side-menu #sideMenu {
  position: relative;
  top: -2.5rem;
  left: -40rem;
  width: 20rem;
  padding: 1em 1em;
  font-size: larger;
}

main.has-side-menu #sideMenu article {
  background-color: var(--pico-color-slate-150);
}

main.has-side-menu #sideMenu.ativo {
  position: sticky;
  top: 20px;
  z-index: 10;
  height: 15rem;
}

@media (max-width: 767px) {
  main header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(0.1rem);
  }
}

@media (min-width: 1024px) {
  main.has-side-menu {
    grid-template-columns: 14em 1fr;
    grid-template-areas:
      "menu header"
      "menu body";
  }

  main.has-side-menu #sideMenu {
    grid-area: menu;
    position: sticky;
    top: 156px;
    margin-right: 1.5em;
    align-self: flex-start;
    left: 0px;
    width: 12rem;
    padding: 0;
    font-size: 0.85em;
  }

  main.has-side-menu #sideMenu article {
    background-color: white;
  }

  main.has-side-menu #menuToggle {
    display: none;
  }
}

main > header {
  grid-area: header;
}

main > section {
  grid-area: body;
}

.simbolo img {
  padding-bottom: 2px;
  width: 1.2em;
}

.clicavel .simbolo {
  cursor: pointer;
}

main h4 {
  color: var(--pico-color-azure-550);
  margin-top: 1em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer button {
  margin-left: 1em;
}

dialog header {
  background-color: var(--pico-color-azure-550);
}

dialog article > header :is(a, button)[rel="prev"] {
  filter: brightness(10);
  opacity: 1;
}

dialog header p {
  color: white;
  font-size: larger;
}

#modalErro header {
  background-color: var(--pico-color-red-500);
}

#modalErro footer button {
  background-color: var(--pico-color-red-500);
  border-color: var(--pico-color-red-800);
}

#modalErro footer button:focus {
  box-shadow: 0 0 8px var(--pico-color-red-500);
}

#modalAlerta header {
  background-color: var(--pico-color-pumpkin-300);
}

#modalAlerta footer button {
  background-color: var(--pico-color-pumpkin-300);
  border-color: var(--pico-color-pumpkin-500);
}

#modalAlerta footer button:focus {
  box-shadow: 0 0 8px var(--pico-color-pumpkin-300);
}

.modal-pesquisa header {
  background-color: var(--pico-color-jade-500);
}

.modal-pesquisa footer button {
  background-color: var(--pico-color-jade-500);
  border-color: var(--pico-color-jade-800);
}

.modal-pesquisa footer button:focus {
  box-shadow: 0 0 8px var(--pico-color-jade-500);
}

.tabelaComponentesCompetencias,
.tabelaCursos {
  margin-top: 2em;
}

.tabelaComponentesCompetencias th:first-child {
  width: 60%;
}

.tabelaComponentesCompetencias th:last-child {
  width: 40%;
}

.tabelaComponentesCompetencias td,
.tabelaCursos td {
  /* font-size: smaller; */
  border: none;
  vertical-align: top;
}

.colunaIcones {
  min-width: 7em;
  width: 7em;
  text-align: center;
}

#sideMenu li.submenu {
  margin-left: 1em;
  padding-left: 1.2em;
  border-left: thin solid rgb(225, 225, 225);
}

#sideMenu a:not(.secondary) {
  font-weight: bold;
}

#sideMenu .submenu:has(a:not(.secondary)) {
  border-left: thin solid rgb(128, 128, 128);
}
